<!DOCTYPE html>
<html lang="en">

<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Styles -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Стили подключать вместо этой строки -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/todo_style.css">

    <title>Generics Control</title>

</head>

<body>

    <div class="container-fluid window">
        <div class="row">

            <!-- Menu -->

            <div class="menu_app col-md-1">
                <div class="sidenav" ref="menu">
                    <button class="menu_button close_button" @click="menuTrigger(false)"><i class="fas fa-times fa-xs"></i></button>
                    <transition name="fade">
                        <ul v-if="show_list" class="menu_list">
                            <li v-for="item in menuList" ref="menuButton">
                                <button @click="onMenuBtnClick(item.controller)" class="menu_button">{{ item.title }}</button>
                            </li>
                        </ul>
                    </transition>
                </div>
                <div id="open_menu_button" ref="openMenuButton">
                    <span @click="menuTrigger(true)"><i class="fas fa-bars"></i></span>
                </div>
            </div>

            <!-- //// -->

            <div class="blured_space" ref="blured_space"></div>

            <!-- Content -->

            <div class="page_app col-md-11">
                <h2 class="page_header">
                    {{currentSection}}
                    <small class="text-muted">control panel developer-version</small>
                </h2>
                <component v-bind:is="currentSection"></component>
            </div>

            <!-- /////// -->

        </div>
    </div>

    <!-- ////////////////////////// Templates ////////////////////////// -->



    <!-- Main Section -->

    <template id="main-template">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card huge_list">
                        <div class="card-header">
                            News
                        </div>
                        <div class="card-body clients_list container-fluid">
                            <p>Cooming Soon...</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row row-one">
                        <div class="col-md-12">
                            <div class="card boxsz">
                                <div class="card-header header boxsz" id="myDIV">
                                    ToDo List
                                </div>
                                <div class="card-body todo_list">
                                    <ul id="myUL " class="mrgn ">
                                        <li class="ulliz">Do the site</li>
                                        <li class="ulliz">Apply Changes</li>
                                        <li class="ulliz">More</li>
                                        <li class="ulliz">And More</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row row-two">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    Progress
                                </div>
                                <div class="card-body">
                                    <p>Cooming Soon...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>




    <!-- Workspace Section -->

    <template id="workspace-template">
        <div>Workspace</div>
    </template>




    <!-- Projects Section -->

    <template id="projects-template">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card huge_list current_project">
                        <div class="card-header">
                            Current Project
                        </div>
                        <div class="card-body container-fluid ">
                            <div class="row project-name-header-row">
                                <div class="col-md-12">
                                    <h2 class="text-center ">Control Panel Project</h2>
                                </div>
                            </div>
                            <div class="row project-progress-row">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="progress">
                                                <!-- <hr >-->
                                                <div class="one success-color"></div>
                                                <div class="two success-color"></div>
                                                <div class="three no-color"></div>
                                                <div class="progress-bar bg-success" style="width: 60%"></div>
                                                <!-- <hr >-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row links-row">
                                <div class="col-md-12">
                                    <div class="text-right">
                                        <a href="project-info-template.html" class="text-muted">Working Panel</a>
                                        <a href="project-info-template.html">More Information</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row bottom-row">
                                <div class="col-md-6 card news-card">
                                    <div class="card-header">
                                        News
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Cras justo odio</li>
                                            <li class="list-group-item">Dapibus ac facilisis in</li>
                                            <li class="list-group-item">Morbi leo risus</li>
                                            <li class="list-group-item">Porta ac consectetur ac</li>
                                            <li class="list-group-item">Vestibulum at eros</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 card comments-card">
                                    <div class="card-header">
                                        Comments
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-unstyled">
                                            <li>
                                                <h6 class="mt-0 mb-0 text-primary">Vasyl Kobevko</h6>
                                                <small>Cras sit amet nibh libero, in gravida nulla. </small>
                                            </li>
                                            <hr>
                                            <li>
                                                <h6 class="mt-0 mb-0 text-primary">Yehor Bublyk</h6>
                                                <small>Cras sit amet nibh libero, in gravida nulla. </small>

                                            </li>
                                            <hr>
                                            <li>
                                                <h6 class="mt-0 mb-0 text-primary">Alex Tichkosky</h6>
                                                <small>Cras sit amet nibh libero, in gravida nulla. </small>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card projects_list">
                                <div class="card-header">
                                    Projects List
                                </div>
                                <div class="card-body">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action active">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">Control Panel Project</h5>
                                                <small>In progress</small>
                                            </div>
                                            <p class="mb-1">Control Panel for Generics Development Studio. Develop using Logic, Skill and Stamina.</p>
                                            <small>HTML, CSS, JavaScript, VueJS, Bootstrap.</small>
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">List group item heading</h5>
                                                <small class="text-muted">3 days ago</small>
                                            </div>
                                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                            <small class="text-muted">Donec id elit non mi porta.</small>
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">List group item heading</h5>
                                                <small class="text-muted">3 days ago</small>
                                            </div>
                                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                            <small class="text-muted">Donec id elit non mi porta.</small>
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">List group item heading</h5>
                                                <small class="text-muted">3 days ago</small>
                                            </div>
                                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                            <small class="text-muted">Donec id elit non mi porta.</small>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>




    <!-- Statistics Section -->

    <template id="statistics-template">
        <div>Statistics</div>
    </template>




    <!-- Team Section -->

    <template id="team-template">
        <div>Team</div>
    </template>




    <!-- Apps Section -->

    <template id="apps-template">
        <div>Apps</div>
    </template>




    <!-- Admin Section -->

    <template id="admin-template">
        <div>Admin</div>
    </template>




    <!-- Blog Section -->

    <template id="blog-template">
        <div>Blog</div>
    </template>




    <!-- Settings Section -->

    <template id="settings-template">
        <div>Settings</div>
    </template>


    <!-- ////////////////////////// ///////// ////////////////////////// -->


    <!-- Scripts -->

    <!--<script type="application/javascript" src="assets/js/jquery-3.3.1.min.js"></script>-->
    <script type="application/javascript" src="assets/js/jquery-3.3.1.js"></script>
    <script type="application/javascript" src="assets/js/bootstrap.min.js"></script>
    <!-- Скрипты подключать вместо этой строки -->
    <script type="application/javascript" src="assets/js/vue.js"></script>
    <script type="application/javascript" src="assets/js/axios.js"></script>
    <!--<script type="application/javascript" src="assets/js/vue-router.js"></script>-->
    <script type="application/javascript" src="assets/js/components.js"></script>
    <script type="application/javascript" src="assets/js/main_script.js"></script>
</body>

</html>



<!-- 

    <div id="mySidenav" class="sidenav" ref="menu">
            <a href="javascript:void(0)" class="closebtn" @click="menuTrigger(false)">&times;</a>
            <a href="projSelect.html">Projects</a>
            <a href="adminLog.html">Admin Panel</a>
            <a href="index.html">Log Out</a>
        </div>

        <div id="main" ref="openMenuButton">
            <span style="font-size:30px;cursor:pointer" @click="menuTrigger(true)">&#9776;</span>
        </div> 
        
        <a href="javascript:void(0)" class="closebtn" @click="menuTrigger(false)"><i class="fas fa-window-close"></i></a>
    
        <a href="projSelect.html">Projects</a>
            <a href="adminLog.html">Admin Panel</a>
            <a href="index.html">Log Out</a>
            
            <button class="aslinkbtn button">Projects</button><br>
            <button class="aslinkbtn button">Team</button><br>
            <button class="aslinkbtn button">User Data</button><br>
            <button class="aslinkbtn button">Admin Panel</button><br>
            <button class="aslinkbtn button">Log Out</button><br>
            
            <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">

                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <h1 style="text-align: center">Account Data</h1>
                    <h4 style="text-align: center">Position</h4>
                    <div style="width:400px;height:216px;border:1px solid #000;" class="mrgn">User Data</div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div style="width:400px;height:300px;border:1px solid #000;" class="mrgn">Team</div>
                </div>
            </div>
        </div> 
        
         <!--<router-link :to="item.title">-->
<!--</router-link>-->

<!--{{ page }}-->
<!--<template v-bind:class="page">{{ page }}</template>-->
<!--<router-view></router-view>-->
