.current_project .card {
    padding: 0;
}
.current_project .card-header {
    /*background: #ef476f;
    color: #fefefd;*/
}

.projects_list {
    height: 505px;
}

.projects_list .card-header {
    /*background: #ffd166;
    color: #fefefd;*/
}

.bottom-row {
    margin-top: 225px;
    margin-right: -20px;
    margin-left: -20px;
}

.bottom-row .card {
    height: 209px;
    border-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
}

.current_project .news-card {
    border-right-width: 0.5px;
}

