.a {
    text-align: center;
}
.iconA{
    align-content: center;
    width: 200px;
    height: 200px;
    margin-left: 15vh;
}
.bsA{
    align-content: center;
    width: 400px;
    height: 200px;
    margin-left: 1vh;
}