.boxsz {
    box-sizing: border-box;
}

.mrgn{
    margin: 0;
    padding: 0;
}

.ulliz{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    list-style-type: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ulliz:nth-child(odd) {
  background: #f9f9f9;
}
.header {
    background-color: #0033cc;
    /*padding: 30px 40px;*/
    color: white;
    text-align: center;
}


.header:after {
    content: "";
    display: table;
    clear: both;
}
.todo_list {
    padding: 0;
}